services:
  root_api:
    image: root_api
    tty: true
    build:
      context: ./client/
      dockerfile: ./Dockerfile
      target: development
    networks:
      - frontend
    ports:
      - "4200:4200"
    working_dir: /app
    volumes:
      - ./client/src:/app/src
    environment:
      - NODE_ENV=development
  read_api:
    image: api_container
    tty: true
    build:
      context: ./platform/
      dockerfile: ./Dockerfile
      target: development
    networks:
      - frontend
      - backend
    ports:
      - "8081:8080"
    volumes:
      - ./platform/src:/app/src
    working_dir: /app
    entrypoint:
      - sh
      - start.sh
  db:
    image: postgres:15-alpine
    container_name: postgres-db
    environment:
      POSTGRES_DB: mydb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - backend
  # db:
  #   image: postgres:latest
  #   environment:
  #     POSTGRES_DB: mydatabase
  #     POSTGRES_USER: user
  #     POSTGRES_PASSWORD: password
volumes:
  postgres-data:
  
networks:
  frontend:
  backend: