.itemContainer {
    position: absolute;
    width: 40rem;
    height: 2rem;
    background-color: lightgoldenrodyellow;
    display: flex;
    justify-content: left;
}

.itemContainer > div {
    font-size: 20px;
    align-content: center;
    margin: 0.1rem;
}

.itemHandle:hover {
    cursor: grab;
}

.itemText {
    overflow-x: hidden;
}

.itemContainerGrabbing {
    cursor: grabbing;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}