/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Zain';
  src: url('assets/fonts/Zain-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}