:host {
    --lighter-green: rgba(10, 77, 0, 0.089);
    --vivid-pink: oklch(69.02% 0.277 332.77);
    --orange-red: oklch(63.32% 0.24 31.68);
    --electric-violet: oklch(53.18% 0.28 296.97);

    --red-to-pink-to-purple-horizontal-gradient: linear-gradient(
        90deg,
        var(--orange-red) 0%,
        var(--vivid-pink) 50%,
        var(--electric-violet) 100%
    );
}

.content {
    display: flex;
    width: 90vw;
    height: 80vh;
    margin-top: 10px;
    padding-left: 5px;
    padding-right: 5px;

    overflow: hidden;
}

.left-side {
    flex: 1 0 calc(60% - 35px);
    height: 95%;
    margin: 5px;
    color: black;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.5);

    overflow-y: auto;

    .image {
        margin-bottom: 15px;
        margin-left: 3%;
        margin-right: 3%;
        width: 94%;
        max-width: 94%;

        border-style: solid;
        border-width: 1px;
        border-radius: 10px;
        background: linear-gradient(180deg, white 55%, black 100%);
        box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
        img {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            width: 100%;
        }
        p {
            padding-left: 43px;
            margin-top: 7px;
            padding-right: 20px;
            color: white;
            font-size: 24px;
        }
    }
}
.left-side::-webkit-scrollbar,
.right-side::-webkit-scrollbar {
    display: none;
}

.divider {
    width: 1px;
    background: var(--black-to-gray-to-white-to-gray-to-black-vertical-gradient);
    margin-inline: 0.5rem;
}

.right-side {
    flex: 0 1 calc(40% - 35px);
    height: 95%;
    margin: 5px;

    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    border-color: white;
    padding-bottom: 10px;
    padding-left: 2%;
    padding-right: 2%;

    overflow-y: auto;

    color: white;
    background-color: black;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.5);

    p {
        font-size: 24px;
    }
}

app-navigation {
    position: sticky;
    width: 100%;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: row-reverse;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 5%, black 100%);
}

@media screen and (max-width: 1100px) {
    /* CSS rules to be applied when the screen width is 1100px or less */
    .left-side {
        .image {
            background: linear-gradient(180deg, white 5%, black 100%);
            p {
                font-size: 16px;
            }
        }
    }
    .right-side {
        h1 {
            font-size: 24px;
        }
        h2 {
            font-size: 16px;
        }
        p {
            font-size: 14px;
        }
    }
}

@media screen and (max-width: 700px) {
    .content {
        flex-direction: column;
        width: max-content;
    }

    .divider {
        display: none;
        // height: 1px;
        // width: 100%;
        // background: var(-black-to-gray-to-white-to-gray-to-black-gradient);
        // margin-block: 1.5rem;
    }
    .left-side {
        flex: 1 0 50%;
        width: 480px;
        padding: 5px;
        margin-bottom: 5px;
        .image {
            margin-bottom: 5px;
            margin-left: 1%;
            margin-right: 1%;
            width: 500px;
            img {
                width: 100%;
            }
            p {
                padding-left: 13px;
                margin-top: 3px;
                padding-right: 10px;
                font-size: 14px;
            }
        }
    }
    .right-side {
        flex: 0 1 50%;
        width: 480px;
        padding: 5px;
        margin-bottom: 10px;

        h1 {
            font-size: 20px;
        }
        h2 {
            font-size: 16px;
        }
        p {
            font-size: 14px;
        }
    }
}

// animations related classes and declarations

.appear {
    animation: appear .3s;
}

@keyframes appear {
    from {
        transform: scale(0.975);
        opacity: 0.9;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
