<div *ngIf="loading()">Loading...</div>
<div *ngIf="!loading()" animate.enter="appear">
    <div class="content">
        <div class="left-side">
            <h2>{{ data[sIndex()].tiles[tIndex()].title }}</h2>
            @for (i of data[sIndex()].tiles[tIndex()].images; track i) {
                <div class="image">
                    <picture>
                        @for (j of breakpoints; track j; let idx = $index) {
                            <source media="(max-width: {{j}}px)" srcset="{{i.path}}-{{sizes[idx]}}w.webp" />
                        }
                        <source media="(min-width: 1440px)" srcset="{{i.path}}-2048w.webp" />
                        <img src="{{ i.originalPath }}" alt="{{ i.alt }}" />
                    </picture>
                    <p>{{ i.description }}</p>
                </div>
            }
        </div>
        <div class="divider" role="separator" aria-label="Divider"></div>
        <div class="right-side">
            <app-navigation (clickEvent)="handleArrowClick($event)"></app-navigation>
            <h1>{{ data[sIndex()].section }}</h1>
            <h2>{{ data[sIndex()].tiles[tIndex()].title }}</h2>
            @for (d of data[sIndex()].tiles[tIndex()].descriptions; track d) {
                <p>{{ d }}</p>
            }
        </div>
    </div>
</div>
