<div *ngIf="loading()">Loading...</div>
<div *ngIf="!loading()">
    <div class="content">
        <div class="left-side">
            <h2>{{ data[sIndex()].tiles[tIndex()].title }}</h2>
            @for (i of data[sIndex()].tiles[tIndex()].images; track i) {
                <div class="image">
                    <img src="{{ i.path }}" alt="" srcset="" />
                    <p>{{ i.description }}</p>
                </div>
            }
        </div>
        <div class="divider" role="separator" aria-label="Divider"></div>
        <div class="right-side">
            <app-navigation (clickEvent)="handleArrowClick($event)"></app-navigation>
            <h1>{{ data[sIndex()].section }}</h1>
            <h2>{{ data[sIndex()].tiles[tIndex()].title }}</h2>
            @for (d of data[sIndex()].tiles[tIndex()].descriptions; track d) {
                <p>{{ d }}</p>
            }
        </div>
    </div>
</div>
