.container {
    height: 100vh;
    max-height: 80px;
}

.quotecontainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5px;
    height: 100%;
    max-height: 60px;
}

/* Optional: Basic styling for the grid items */
.item {
    border: 1px solid #000;
    background-color: bisque;

    border-radius: 5px;
    padding: 10px;
}

.item:nth-child(odd) {
    font-weight: bold;
    text-align: right;
}

.item:nth-child(even) {
    text-align: left;
}

.footnote {
    max-height: 60px;
    grid-column: 1 / span 2;
    text-align: right;
    font-size: 12px;
}