.itemContainer {
    flex-basis: 20rem;
    flex-grow: 0;
    
    padding: 0.5rem;

    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    box-shadow: 5px 5px #ccc;

    background-color: lightgoldenrodyellow;
}

.label{
    color: darkgreen
}

.itemText {
    color: darkred;
    overflow-x: hidden;
    border-style: none;
}
