.container {
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    justify-content: flex-start;
}

.listContainer {
    margin-left: 5px;
    margin-right: 10px;
    border-radius: 0;
    background-color: ivory;
}