.headerContents {
    height: 160px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;

}

.widget {
    background-color: lightcyan;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    padding: 3px;
    box-shadow: 5px 5px #ccc;
}