.itemContainer {
    width: 25rem;
    height: 2rem;
    display: flex;
    justify-content: left;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: lightblue;
}

.itemContainer > div {
    font-size: 20px;
    align-content: center;
    margin: 0.1rem;
}

.itemHandle:hover {
    cursor: grab;
}

.itemText {
    overflow-x: hidden;
}

.itemContainerGrabbing {
    cursor: grabbing;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}