<div *ngIf="loading()">Loading...</div>
<div *ngIf="!loading()">
    @for (s of data; track s; let i = $index) {
        <div class="grid-section">{{ s.section }}</div>
        <div class="grid-container">
            @for (t of s.tiles; track t; let j = $index) {
                <div
                    class="grid-item"
                    (click)="onItemClick(i, j)"
                    [ngStyle]="{ 'background-image': 'url(' + t['images'][0]['path'] + ')' }"
                >
                    <div class="grid-item-title">
                        <div>
                            {{ t['title'] }}
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>
