.grid-section {
    font-size: 30px;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}

.grid-section::after {
    content: ''; 
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0; 
    height: 2px; 
    background: linear-gradient(90deg, lightgray 0%, grey 23%, black 67%, darkred 100%);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.grid-item {
    width: 300px;
    height: 300px;

    margin: 10px;

    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: darkslategray;

    background-size: cover;
    background-position: center;
}

.grid-item:hover {
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.3);
}

.grid-item-title {
    position: relative;
    top: calc(50% - 2em);
    left: 0;

    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    height: 2em;

    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // transform: translateY(-50%);

    color: white;
    background-color: rgba(0, 0, 0, 0.825);

    box-shadow:
        0 -10px 20px -5px rgba(0, 0, 0, 0.5),
        0 10px 20px -5px rgba(0, 0, 0, 0.5);

    font-size: 20px;
}
