p {
    position: absolute;
    font-size: 100px;
    top: -0.5em;
    right: 0px;
    animation: wiggle 0.25s;
    animation-iteration-count: 3;
    animation-delay: 2s;
}

@keyframes wiggle {
    0%,
    100% {
        transform: rotate(-3deg); // translateY(0);
    }
    50% {
        transform: rotate(0deg); // translateY(-5px);
    }
    100% {
        transform: rotate(3deg); // translateY(0);
    }
}
