:host {
    --lighter-green: rgba(10, 77, 0, 0.089);

    --gray-900: oklch(19.37% 0.006 300.98);
    --gray-700: oklch(36.98% 0.014 302.71);
    --gray-400: oklch(70.9% 0.015 304.04);

    --black-to-gray-to-white-to-gray-to-black-gradient: linear-gradient(
        90deg,
        lightgray 0%,
        var(--lighter-green) 2%,
        var(--lighter-green) 97%,
        lightgray 100%
    );

    --black-to-gray-to-white-to-gray-to-black-vertical-gradient: linear-gradient(
        0deg,
        black 0%,
        var(--lighter-green) 30%,
        black 50%,
        var(--lighter-green) 70%,
        black 100%
    );
}

h1 {
    font-size: 50px;
    font-weight: 500;
    line-height: 100%;
    margin: 0;
}

h2 {
    margin-block-start: 0px;
    font-size: 35px;
}

p {
    margin: 0;
    color: var(--gray-700);
}

main {
    width: 66%;
    min-width: 1024px;
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: inherit;
    position: relative;
}

header {
    width: 100%;
}

@media screen and (max-width: 1100px) {
    /* CSS rules to be applied when the screen width is 1100px or less */
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 28px;
    }

    main {
        width: 66%;
        min-width: 600px;
    }
}

@media screen and (max-width: 700px) {
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 18px;
    }

    main {
        width: 66%;
        min-width: 500px;
    }
}
